In [74]:
import pandas as pd

In [75]:
# Show what our data looks like
df = pd.read_csv("DowJones.csv")
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-11,26188.210938,26229.880859,26062.589844,26143.050781,26143.050781,211680000
1,2019-04-12,26357.789063,26436.679688,26309.720703,26412.300781,26412.300781,369910000
2,2019-04-15,26407.759766,26424.849609,26316.419922,26384.769531,26384.769531,250620000
3,2019-04-16,26482.189453,26530.710938,26397.189453,26452.660156,26452.660156,302340000
4,2019-04-17,26468.529297,26501.019531,26391.859375,26449.539063,26449.539063,367780000
5,2019-04-18,26463.369141,26602.419922,26444.529297,26559.539063,26559.539063,332850000
6,2019-04-22,26510.769531,26553.050781,26458.609375,26511.050781,26511.050781,232570000
7,2019-04-23,26513.830078,26695.960938,26503.560547,26656.390625,26656.390625,311690000
8,2019-04-24,26652.560547,26680.580078,26582.859375,26597.050781,26597.050781,283370000
9,2019-04-25,26426.369141,26536.480469,26310.279297,26462.080078,26462.080078,296730000

In [76]:
# Only show the stock information in March 2020
df1 = df.loc[223:244,:]

In [77]:
# Only show the Volume traded in each day
df1[['Date', 'Volume']]

           Date     Volume
223  2020-03-02  637200000
224  2020-03-03  647080000
225  2020-03-04  457590000
226  2020-03-05  477370000
227  2020-03-06  599780000
228  2020-03-09  750430000
229  2020-03-10  654860000
230  2020-03-11  663960000
231  2020-03-12  908260000
232  2020-03-13  843080000
233  2020-03-16  770130000
234  2020-03-17  793060000
235  2020-03-18  871360000
236  2020-03-19  780300000
237  2020-03-20  872290000
238  2020-03-23  787970000
239  2020-03-24  799340000
240  2020-03-25  796320000
241  2020-03-26  705180000
242  2020-03-27  588830000
243  2020-03-30  545540000
244  2020-03-31  571210000

In [78]:
# Calculate the difference of the highest trading price and lowest trading price on one specific date in March 2020
df1['Difference'] = df1['High'] - df1['Low']
print("\nDifference of Highest Price and Lowest Price:\n", df1)

Difference of Highest Price and Lowest Price:
            Date          Open          High           Low         Close  \
223  2020-03-02  25590.509766  26706.169922  25391.960938  26703.320313
224  2020-03-03  26762.470703  27084.589844  25706.279297  25917.410156
225  2020-03-04  26383.679688  27102.339844  26286.310547  27090.859375
226  2020-03-05  26671.919922  26671.919922  25943.330078  26121.279297
227  2020-03-06  25457.210938  25994.380859  25226.619141  25864.779297
228  2020-03-09  24992.359375  24992.359375  23706.070313  23851.019531
229  2020-03-10  24453.000000  25020.990234  23690.339844  25018.160156
230  2020-03-11  24604.630859  24604.630859  23328.320313  23553.220703
231  2020-03-12  22184.710938  22837.949219  21154.460938  21200.619141
232  2020-03-13  21973.820313  23189.759766  21285.369141  23185.619141
233  2020-03-16  20917.529297  21768.279297  20116.460938  20188.519531
234  2020-03-17  20487.050781  21379.349609  19882.259766  21237.380859
235  2020-03-18  20188.689453  20489.330078  18917.460938  19898.919922
236  2020-03-19  19830.009766  20442.630859  19177.130859  20087.189453
237  2020-03-20  20253.150391  20531.259766  19094.269531  19173.980469
238  2020-03-23  19028.359375  19121.009766  18213.650391  18591.929688
239  2020-03-24  19722.189453  20737.699219  19649.250000  20704.910156
240  2020-03-25  21050.339844  22019.929688  20538.339844  21200.550781
241  2020-03-26  21468.380859  22595.060547  21427.099609  22552.169922
242  2020-03-27  21898.470703  22327.570313  21469.269531  21636.779297
243  2020-03-30  21678.220703  22378.089844  21522.080078  22327.480469
244  2020-03-31  22208.419922  22480.369141  21852.080078  21917.160156

        Adj Close     Volume   Difference
223  26703.320313  637200000  1314.208984
224  25917.410156  647080000  1378.310547
225  27090.859375  457590000   816.029297
226  26121.279297  477370000   728.589844
227  25864.779297  599780000   767.761718
228  23851.019531  750430000  1286.289062
229  25018.160156  654860000  1330.650390
230  23553.220703  663960000  1276.310546
231  21200.619141  908260000  1683.488281
232  23185.619141  843080000  1904.390625
233  20188.519531  770130000  1651.818359
234  21237.380859  793060000  1497.089843
235  19898.919922  871360000  1571.869140
236  20087.189453  780300000  1265.500000
237  19173.980469  872290000  1436.990235
238  18591.929688  787970000   907.359375
239  20704.910156  799340000  1088.449219
240  21200.550781  796320000  1481.589844
241  22552.169922  705180000  1167.960938
242  21636.779297  588830000   858.300782
243  22327.480469  545540000   856.009766
244  21917.160156  571210000   628.289063

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy